# Omni
OMNI_IMG_TAG=<latest-stable-omni-release>
OMNI_ACCOUNT_UUID=<generated-uuid>
NAME=omni
EVENT_SINK_PORT=8091

## Keys and Certs
TLS_CERT=<full-path-to-fullchain-cert>
TLS_KEY=<full-path-to-private-key>
ETCD_VOLUME_PATH=<full-path-to-etcd-directory>
ETCD_ENCRYPTION_KEY=<full-path-to-etcd-encryption-key>

## Binding
BIND_ADDR=0.0.0.0:443
MACHINE_API_BIND_ADDR=0.0.0.0:8090
K8S_PROXY_BIND_ADDR=0.0.0.0:8100

## Domains and Advertisements
OMNI_DOMAIN_NAME="<omni-host-domain-name>"
ADVERTISED_API_URL="https://${OMNI_DOMAIN_NAME}"
SIDEROLINK_ADVERTISED_API_URL="https://${OMNI_DOMAIN_NAME}:8090/"
ADVERTISED_K8S_PROXY_URL="https://${OMNI_DOMAIN_NAME}:8100/"
SIDEROLINK_WIREGUARD_ADVERTRISED_ADDR="<omni-host-ip>:50180"

## Users
INITIAL_USER_EMAILS='<initial-emails>'

## Authentication
#Auth0
AUTH='--auth-auth0-enabled=true \
      --auth-auth0-domain=<auth0-domain> \
      --auth-auth0-client-id=<auth0-client-id>'
# Or, when using SAML:
# AUTH='--auth-saml-enabled=true \
#       --auth-saml-url=<saml-url>'
#Only one AUTH version can be used at a time, so ensure to remove the one you don't use.
