{{- if not .Values.etcdEncryptionKey.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "omni.fullname" . }}-etcd-key
  namespace: {{ include "omni.namespace" . }}
  labels:
    {{- include "omni.labels" . | nindent 4 }}
type: Opaque
stringData:
  # The key name in the secret will be "omni.asc"
  omni.asc: |
    {{- .Values.etcdEncryptionKey.omniAsc | nindent 4 }}
{{- end }}
