# Omni
OMNI_IMG_TAG=${OMNI_VERSION}
OMNI_ACCOUNT_UUID=${OMNI_ACCOUNT_UUID}
NAME=omni
EVENT_SINK_PORT=8091

## Keys and Certs
TLS_CERT=/etc/letsencrypt/live/${OMNI_DOMAIN_NAME}/fullchain.pem
TLS_KEY=/etc/letsencrypt/live/${OMNI_DOMAIN_NAME}/privkey.pem
ETCD_VOLUME_PATH=/etc/etcd/
ETCD_ENCRYPTION_KEY=${PWD}/omni.asc

## Binding
BIND_ADDR=0.0.0.0:443
MACHINE_API_BIND_ADDR=0.0.0.0:8090
K8S_PROXY_BIND_ADDR=0.0.0.0:8100

## Domains and Advertisements
OMNI_DOMAIN_NAME="${OMNI_DOMAIN_NAME}"
ADVERTISED_API_URL="https://${OMNI_DOMAIN_NAME}"
SIDEROLINK_ADVERTISED_API_URL="https://${OMNI_DOMAIN_NAME}:8090/"
ADVERTISED_K8S_PROXY_URL="https://${OMNI_DOMAIN_NAME}:8100/"
SIDEROLINK_WIREGUARD_ADVERTISED_ADDR="${OMNI_WG_IP}:50180"

## Users
INITIAL_USER_EMAILS="${OMNI_ADMIN_EMAIL}"

## Authentication
#Auth0
AUTH='--auth-auth0-enabled=true \
      --auth-auth0-domain=${AUTH0_DOMAIN} \
      --auth-auth0-client-id=${AUTH0_CLIENT_ID}
# Or, when using SAML:
# AUTH='--auth-saml-enabled=true \
#       --auth-saml-url=<saml-url>'
#Only one AUTH version can be used at a time, so ensure to remove the one you don't use.
