concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
"on":
  push:
    branches:
      - main
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - release-*
name: chromatic
# https://www.chromatic.com/docs/github-actions/
jobs:
  chromatic:
    name: Run chromatic
    runs-on:
      group: generic
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - name: Install dependencies
        run: npm ci
        working-directory: frontend/
      - name: Get token
        run: |
          chromaticProjectToken=$(sops decrypt --extract='["secrets"]["CHROMATIC_PROJECT_TOKEN"]' .secrets.yaml)
          echo "::add-mask::${chromaticProjectToken}"
          echo "CHROMATIC_PROJECT_TOKEN=${chromaticProjectToken}" >> $GITHUB_ENV
      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ env.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          workingDir: frontend/
